@media only screen and (max-width: 1300px) {
  .cloud, .rain{ 
    bottom: 12vh !important;
          
  }

  @-webkit-keyframes cloud{
    0%   { left: 16vw !important; }
    100% { left: 16vw !important; } 
  }
  @keyframes cloud {
    0%   { left: 16vw !important; }
    100% { left: 16vw !important; } 
  }
  
}



.cloud, .rain{ 
  z-index: 0 !important;
  bottom: 20vh;
  -webkit-animation: cloud 15s;
          animation: cloud 15s;
          animation-fill-mode: forwards;
        
}

@-webkit-keyframes cloud{
  0%   { left: 8vw; }
  100% { left: 8vw; } 
}
@keyframes cloud {
  0%   { left: 8vw; }
  100% { left: 8vw; } 
}


.trophy{
  display: block;
  position: relative;
  visibility:hidden;
  z-index: 1;
  margin-left: 45px;
  -webkit-animation: trophy 10s;
        animation: trophy-animate 10s;
        animation-fill-mode: forwards;
        animation-delay: 5s;
}

@keyframes trophy-animate 
{
  0%{
    transform: translateY(0vh) scale(.5);
    visibility:hidden;
    opacity:0;
  }

  70%{
    transform: translateY(9.5vh) scale(1);
    opacity:1;
  }
  100%{
    transform: translateY(9.5vh) scale(1);
    opacity:1;
    visibility:visible;
  }
}

@keyframes animate 
{
  0%{
    transform: translateY(0vh) scale(1)
  }

  70%{
    transform: translateY(20vh) scale(1)
  }
  100%{
    transform: translateY(20vh) scale(0)
  }
}
