<div class="pitch-container">
    <div class="football-pitch">
        <!--div class="first-column-border"></div-->
            <div class="team-positions subs">
                <img src="{% static 'polls/brann.png' %}" alt="Image 1">
                <img src="{% static 'polls/brann.png' %}" alt="Image 1">
                <img src="{% static 'polls/brann.png' %}" alt="Image 1">
            </div>
        <div class="team-positions goalkeeper">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
        </div>
        
        <div class="team-positions defense">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
        </div>
        <div class="team-positions defensive-midfield">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
        </div>  
        <div class="team-positions central-midfield">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
        </div>
        <div class="team-positions offensive-midfield"></div>
        
        <div class="team-positions attack">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
            <img src="{% static 'polls/brann.png' %}" alt="Image 1">
        </div>
        
    </div>
</div>