


.cloud, .rain{ 
  bottom: 10vh;
  -webkit-animation: cloud 10s;
          animation: cloud 10s;
          animation-fill-mode: forwards;
        
}

@-webkit-keyframes cloud{
  0%   { left: -10vw; }
  100% { left: 70vw; } 
}
@keyframes cloud {
  0%   { left: -10vw; }
  100% { left: 70vw; } 
}


.trophy{
  position: relative;
  visibility:hidden;
  bottom: 10px;
  height: 10px;
  top: -25px;
  z-index: 1;
  margin-left: 45px;
  -webkit-animation: trophy 10s;
        animation: trophy-animate 10s;
        animation-fill-mode: forwards;
        animation-delay: 5s;
}

@keyframes trophy-animate 
{
  0%{
    transform: translateY(0px) scale(.5);
    visibility:hidden;
    opacity:0;
  }

  70%{
    transform: translateY(11vh) scale(1);
    opacity:1;
  }
  100%{
    transform: translateY(11vh) scale(1);
    opacity:1;
    visibility:visible;
  }
}

@keyframes animate 
{
  0%{
    transform: translateY(0px) scale(1)
  }

  70%{
    transform: translateY(10vh) scale(1)
  }
  100%{
    transform: translateY(10vh) scale(0)
  }
}
